@import '../../../../theme/variables.scss';

$selected-border-bottom: 3px solid $blue;

.AppHeader {
  padding: 8px;
  display: flex;
  height: 60px;
  background-color: rgba(255,255,255,.7);
  box-shadow: none;
  z-index: 1;
  position: relative;

  .AppLogoLink {
    flex: 1;
    padding: 8px 0;
  }

  .DrawerIcon {
    padding: 0 4px;
    margin-top: -6px;
    display: block;
  }
}
